.container{
    display: grid;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;


}

.container section{
    background: #f8adc0;
    text-align: center;
    height: 30rem;
    width: 50rem;
    display: grid;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 0.8rem;

}

.container section p{
    margin: 2rem;
}
