.containerFooter {
    flex: 1;
    display: grid;
    width: 100%;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    margin-top: 2rem;
    text-align: center;
    align-content: center;
    align-items: center;
}

.containerFooter div ul{
    list-style: none;
}
.containerFooter div ul li{
    margin: 0.6rem;
}
.containerFooter div ul li a {
    text-decoration: none;
    color:#5a3eb6;
}
.containerFooter strong{
    margin: 1rem;
}
