.containerGaley {
    width: 100%;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    margin-top: 2rem;
    text-align: center;
}

.containerGaley h2 {
    margin: 1rem;
}
.containerGaley img {
    width: 20rem;
    height: 13rem;
    border: solid #FFFFFF 0.5rem;
    border-radius: 5%;
}
