.navbarContainer{
    display: flex;
    width: 100%;
    border: 1px;
    background: #f68b8b;
    box-shadow: 0 10px 0 rgba(0,0,0,0.05);
}

.navbarContainer div{
 text-align: left;
}
.navbarContainer a{
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
   }

