@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.container{
font-family: 'Poppins', Arial, Helvetica, sans-serif;
text-align: center;
}
.container h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.table{
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
}

.table thead{
    background: #f68b8b;
}

.table th{
    font-size: 1.5rem;
    padding: 0rem 0.5rem;
}
.table td
{
    font-size: 1rem;
    padding: 0rem 0.5rem;
}
.table tr:nth-child(even) {
    background:#f1bfb3;
  }
.add{
    width: 10rem;
    font-size: 1rem;
    margin: 1rem 0 1rem 1rem;
    margin-left: auto;
    background: #d4d0d1;
    border-radius: 0.2rem;
    padding: 0.3rem;
    text-align: center;
}
.add:hover{
    background: #f1e1e5;
}
.add a{
    color: black;

}
.add a:hover{
    color: #080808;
    text-decoration: none;
}
.button{
    display: flex;
    margin: 0.2rem;
    align-items: center;
    font-size: 1rem;
}
.image{
    width: 2rem;
    height: 2rem;
    border-radius: 10%;
    margin: 0.2rem;
}

.link a:hover{
    text-decoration: none;
}