@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.container{
    display: grid;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    
}
.container div{
   background: #f5a591;
   max-width: 30rem;
   border-radius: 1rem;
   padding: 1rem;
}



.title{  
    margin-bottom: 1rem;
    font-size: 3rem;
}