.container{
    padding: 4rem;
}
.forms{
    margin-bottom: 1rem;
    max-width: 35rem;
}
.title{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    font-size: 3rem;
}
.perdeu{
    display: inline-block;
    color: #666666;
    padding: 0.5rem 0;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-left: 15rem;
}
.perdeu::after{
    content: '';
    height: 1px;
    width: 100%;
    background: currentColor;
    display: block;
}

.signup{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.signup p{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.subtitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    line-height: 1rem;
}


@media (max-width: 40rem){
    .forms{
        max-width: 100%;
    }
}
