@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.container{
    display: grid;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    align-items: center;
    align-content: center;
}
