.containerInvited {
    display: grid;
    text-align: center;
    width: 100%;
    align-items: center;
    align-content: center;

}
.containerInvited > h1{
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.containerInvited > p{
    margin-top: 24px;
    font-size: 24px;
    line-height: 32px;
}
