.body {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
.containerInvited {
    display: grid;
    text-align: center;
    width: 100%;
    align-items: center;
    align-content: center;
    background: #f5a591;

}
.containerInvited > h1{
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.containerInvited > p{
    margin-top: 24px;
    font-size: 24px;
    line-height: 32px;
}
