@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.background {
    background-image: url("../../../public/assets/back01.jpg");
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
    top: 0px;
  }
  .texture {
    background-image: url("../../../public/assets/texture01.png");
    background-attachment: fixed;
    height: 100vh;
    background-repeat: no-repeat;
  }
  .containerTop {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 30px !important;
    margin-right: 10px !important;
  }
  .footer {
    background-color: #121212;
    color: white;
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
  }
  .contactContainerBg{
    background-color: #121212;
    color: #FFFFFF;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
  }
  .contactComponent {
    padding-left: 20px;
    padding-right: 20px;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .link a{
    text-decoration: none;
    color: #FFFFFF;
  }
  .link a:hover{
    color: #f5a591;
  }
