.container{
    display: grid;
}

.container p{
    margin-top: 1rem;
    font-size: 1.5rem;
}
.container p strong{
    margin:1rem;
}
.container h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}
